body {
    font-family: Arial, Helvetica, sans-serif;
}

.forms-container {
    display: flex;
    justify-content: space-between;
}

.login-container, .signup-container {
    width: 50%;

}

#login-form {
    max-width: 360px;
    margin: 20px;
    padding: 20px;
    border: 1px solid#abc;
    border-radius: 20px;
}

#signup-form {
    max-width: 360px;
    margin: 20px;
    padding: 20px;
    border: 1px solid#abc;
    border-radius: 20px;
}

.login-container h2, .signup-container h2 {
    margin-top: 0;
}


.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input {
    width: 200px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 3px;
}

button {
    width: 100px;
    padding: 10px 20px;
    color: #444;
    background-color: #edc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #11f;
}